body {
  font-family: Arial, sans-serif;
  background-color: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: #dad8d9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 800px;
  width: 100%;
  border: 2px solid #ff6600;
}

.content {
  display: flex;
  align-items: center;
}

.logo {
  width: 100px;
  height: auto;
  margin-right: 20px;
}

.user-info {
  text-align: left;
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  margin: 5px 0;
}

.error {
  color: red;
  font-size: 16px;
  margin-bottom: 10px;
}

.bets {
  margin-top: 20px;
  text-align: left;
}

.bets h2 {
  font-size: 22px;
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th,
td {
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}



tr:nth-child(even) {
  background-color: #f9f9f9;
}

button {
  
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#double-down button{
  background-color: #007BFF;
}

#double-down button:hover {
  background-color: #0056b3;
}

#simulate button{
  background-color: #4CAF50;
}

#simulate button:hover {
  background-color: #45A049;
}